.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alert-message {
    position: relative;
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}